name: Rust CI

on:
  push:
    branches: [ '**' ]
  pull_request:
    branches: [ '**' ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
      - name: Run tests
        run: cargo test --workspace --all-features
  build-push:
    needs: test
    runs-on: ubuntu-latest
    permissions:
      id-token: write   # required for OIDC
      contents: read
    steps:
      - uses: actions/checkout@v4
      - name: Set Docker tag
        id: docker_tag
        run: |
          if [[ "${GITHUB_REF}" == refs/tags/* ]]; then
            TAG="${GITHUB_REF#refs/tags/}"
          else
            TAG="latest"
          fi
          echo "tag=$TAG" >> $GITHUB_OUTPUT
      - name: Build Docker image
        run: |
          make build IMAGE_NAME=${{ vars.DOCKERHUB_USERNAME }}/wamserver:${{ steps.docker_tag.outputs.TAG }}
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Push Docker image to Docker Hub
        run: |
          docker push ${{ vars.DOCKERHUB_USERNAME }}/wamserver:${{ steps.docker_tag.outputs.TAG }}
      - name: Configure AWS credentials (OIDC AssumeRole)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/GitHubActionECRPushRole
          aws-region: eu-west-3
      - name: Log in to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2
      - name: Tag Docker image for ECR & Docker Hub
        run: |
          ECR_REGISTRY="${{ steps.login-ecr.outputs.registry }}"
          ECR_REPO="wamserver"
          docker tag ${{ vars.DOCKERHUB_USERNAME }}/wamserver:${{ steps.docker_tag.outputs.TAG }} $ECR_REGISTRY/$ECR_REPO:${{ steps.docker_tag.outputs.TAG }}
      - name: Push Docker image to ECR
        run: |
          ECR_REGISTRY="${{ steps.login-ecr.outputs.registry }}"
          ECR_REPO="wamserver"
          docker push $ECR_REGISTRY/$ECR_REPO:${{ steps.docker_tag.outputs.TAG }}